.overlay {
    visibility: hidden;
    position: fixed;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    top: 80%;
    left: 50%;
    z-index: 125;
    background-color: #fc5e5b00;
    border-radius: 2rem;
    text-align: center;
  }
  .overlay span {
    margin-top: 1rem;
    font-family: monospace;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
  }
  .overlay #points {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-family: monospace;
  }
  .overlay a {
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: monospace;
    margin-top: 2rem;
    border: 0.3rem black solid;
    background: linear-gradient(to bottom right, white, white);
    border-radius: 2rem;
    padding: 0.3rem 1.5rem;
  }
  .overlay .title {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: "Pacifico", cursive;
    letter-spacing: 0.25rem;
    text-align: center;
  }
  .overlay .title span {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: "Pacifico", cursive;
    letter-spacing: 0.25rem;
  }
  
  .fade-in {
    animation: fade-in 0.4s ease-in-out forwards;
  }
  
  .fade-out {
    animation: fade-out 0.4s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    from {
      visibility: hidden;
      transform: scale(0) translate(-50%, -50%);
      opacity: 0;
    }
    1% {
      visibility: visible;
    }
    to {
      visibility: visible;
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
    }
  }
  @keyframes fade-out {
    from {
      visibility: visible;
      transform: scale(1) translate(-50%, -50%);
      opacity: 1;
    }
    99% {
      visibility: hidden;
    }
    to {
      visibility: hidden;
      transform: scale(0) translate(-50%, -50%);
      opacity: 0;
    }
  }